.DebugConsole{ background:#eee; color:#000; }
.DebugConsole h3 {padding:10px; margin:0px;background:#666; color:#fff;font-size:bold;font-family:georgia; }
.DebugConsole h4 {padding:5px; margin:0px; background:#999; color:#fff;font-size:bold;font-family:georgia;}
